<!DOCTYPE html>
<html>
<head>
    <title>Maxim Madorski Projects</title>
</head>
<body>
    <h1>Hi, Here are the links to all my projects</h1>
    <ul>
        {% for pair in links %}
            <li><a href="{{ pair.value }}">{{ pair.key }}</a></li>
        {% endfor %}
    </ul>

    <h2>Add a New Pair</h2>
    <form method="POST">
        <label for="key">Key:</label>
        <input type="text" name="key" required>
        <br>
        <label for="value">Value:</label>
        <input type="text" name="value" required>
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>
